<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Bug Tracker</title>
    <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
    <div id="nav">
        <h1>Bug Tracker!</h1>
        <ul>
        <a href="/addticket/">Add A Ticket</a>
        
            {% if not user.is_authenticated %}
                <a href="/login/">Login</a>
            {% elif user.is_authenticated %}
                <a href="/logout/">Logout</a>
            {% endif %}
        </ul>
    </div>

    <div>
    <div style="border: 1px solid black">
    {% for ticket in new %}
    
        <h2><a href="/ticket/{{ticket.id}}">{{ ticket.Title }}</a></h2>
        <p>{{ ticket.Description }}</p>
        <p>Status: New</p>

            {% if ticket.assigned is not None%}
            <p> Assigned User: <a href="/user/{{ticket.assigned.id}}">{{ ticket.assigned }}</a></p>
            {% else %}
            <p> Assigned User: {{ ticket.assigned }}</p>
            {% endif %}

        <p>Created by: <a href="/user/{{ticket.Name.id}}">{{ ticket.Name }}</a>
        <p><a href="/edit/{{ticket.id}}">EDIT</a></p>
    {% endfor %}
</div>
    {% for ticket in in_progress %}
        <h2><a href="/ticket/{{ticket.id}}">{{ ticket.Title }}</a></h2>
        <p>{{ ticket.Description }}</p>
        <p>Status: In Progress</p>
        <p> Assigned User: <a href="/user/{{ticket.assigned.id}}">{{ ticket.assigned }}</a></p>
        <p>Created by: <a href="/user/{{ticket.Name.id}}">{{ ticket.Name }}</a></p>
        <p><a href="/edit/{{ticket.id}}">EDIT</a></p>
    {% endfor %}

    {% for ticket in done %}
        <h2><a href="/ticket/{{ticket.id}}">{{ ticket.Title }}</a></h2>
        <p>{{ ticket.Description }}</p>
        <p>Status: Done</p>
        <p> Assigned User: {{ ticket.assigned }}</p>
        <p>Created by: <a href="/user/{{ticket.Name.id}}">{{ ticket.Name }}</a></p>
        <p>Finished By: <a href="/user/{{ticket.completed.id}}">{{ ticket.completed }}</a></p>
        <p><a href="/edit/{{ticket.id}}">EDIT</a></p>
    {% endfor %}
                
    {% for ticket in Invalid %}
        <h2><a href="/ticket/{{ticket.id}}">{{ ticket.Title }}</a></h2>
        <p>{{ ticket.Description }}</p>
        <p>Status: Invalid</p>
        <p> Assigned User: {{ ticket.assigned }}</p>
        <p>Created by: <a href="/user/{{ticket.Name.id}}">{{ ticket.Name }}</a></p>
        <p><a href="/edit/{{ticket.id}}">EDIT</a></p>

    {% endfor %}
</div>
</body> 