<a href="/">HOME</a>


<h1>{{ticket.Title}} by <a href="/user/{{items.name.id}}/" >{{items.name}}</a></h1>
<br><br>
<p>{{ticket.Description}}</p>
<br>
<p><em>Created on: {{ ticket.Time }}</em></p>
<p><em>Created by: {{ ticket.Name }}</em></p>
<p><a href="/edit/{{ticket.id}}">EDIT</a></p>


{% if ticket.Status == "New" %}
    <p><a href="/assign/{{ticket.id}}">Assign to me</a></p>
    <p><a href="/invalid/{{ticket.id}}">Invalid</a></p>
{% elif ticket.Status == "In_progress" %}
    <p><em>Assigned to: {{ ticket.assigned }}</em></p>
    {% if ticket.assigned == user %}
    <p><a href="/complete/{{ticket.id}}">Complete</a></p>
    {% endif %}
    <p><a href="/invalid/{{ticket.id}}">Invalid</a></p>
{% elif ticket.Status == "DONE" %}
    <p><em>Completed by: {{ ticket.completed }}</em></p>
    <p><a href="/invalid/{{ticket.id}}">Invalid</a></p>
{% else %}
<p><em> Ticket Status: {{ ticket.Status }}</em></p>
{% endif %}

